.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Header {
  border: 10px solid black;
  background-color: aqua;
}

.User {
  border: 10px solid black;
  margin: 50px;
  margin-left: 10rem;
  padding: 10px;
  float: left;
  background-color: aqua;
}

.Employee {
  border: 10px solid black;
  margin: 50px;
  margin-right: 10rem;
  padding: 10px;
  float: right;
  background-color: aqua;
}

